<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="UTF-8"/>
</head>
<body>
<div  style="border:1px solid #ccc;padding:5px;">
  
   <a th:href="@{/uploadOneFile}">Upload One File</a>
    

    
   <a th:href="@{/uploadMultiFile}">Upload Multi File</a>
    
    
 </div>
 </body>
 </html>